---
import profilePicture from '../images/pic.jpg';

const { title } = Astro.props;
---

<section>
    <div>
        <h1>{title}</h1>
        <div>
            <div class="form">
                <input type="text" placeholder="Asunto">
                <input type="text" placeholder="Mensaje">
                <button type="submit">Enviar</button>
            </div>
            <div class="divisor"></div>
            <div class="img-wrapper">
                <img src={profilePicture.src}>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        padding: var(--sectionSpace) 0;
    }
    section > div {
        margin: 0 var(--sectionSpace);
    }
    section > div > div {
        display: flex;
        justify-content: space-between;
    }
    h1 { 
        margin: 0 0 60px 0; 
        font-size: 2.5em;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 80px;
        flex-basis: 50%;
    }
    .img-wrapper {
        flex-basis: 35%;
        aspect-ratio: 1 / 1;
    }
    .img-wrapper > img {
        height: 100%;
        width: 100%;
    }
    .divisor {
        width: 1px;
        position: relative;
    }
    .divisor::after {
        content: "";
        width: 1px;
        height: 100%;
        background: rgb(252,252,252);
        background: linear-gradient(0deg, rgba(252,252,252,1) 0%, rgba(0,0,0,1) 50%, rgba(252,252,252,1) 100%);
        position: absolute;
    }
    input[type="text"] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid;
        padding: 1em;
    }
    button[type="submit"] {
        width: 40%;
        padding: 1em;
        background-color: transparent;
        border: 2px solid;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 1em;
    }
    button[type="submit"]:hover {
        color: var(--colorBg);
        background-color: var(--colorText);
    }

</style>