---
const { title } = Astro.props;
---
<section>
    <div>
        <h1>{title}</h1>
        <p><slot/></p>
    </div>
    <div>
        <p>
            Soy un apasionado de la arquitectura, y disfruto sumergiéndome
			en el arte de crear espacios. Mi enfoque minucioso y mi compromiso 
			con la calidad me han permitidoexplorar el diseño de manera única. 
			Aunque no busco destacar, es innegable que mis diseños buscan un equilibrio 
			entre belleza y funcionalidad. Mi objetivo es combinar la estética con la practicidad 
			de una manera que me llena de satisfacción. Aunque aún tengo mucho por aprender, 
			estoy seguro de que mi dedicación a la innovación y la excelencia me guiará hacia un futuro
			brillante en el mundo de la arquitectura. Después de todo, la grandeza se construye paso a 
			paso, ¿no es así?
        </p>
    </div>
</section>

<style>
    section {
        margin: 0 var(--sectionSpace);
        overflow: hidden;
    }
    section div:first-child {
        text-align: right;
        width: calc(42% - var(--sectionSpace));
        float: right;
    }
    section div:last-child {
        padding-top: 60px;
        clear: both;
    }

    h1 { 
        margin: 0 0 60px 0; 
        font-size: 2.5em;
    }
    p {
        margin: 0;
        text-align: justify;
        font-size: 1.5em;
    }
    
</style>

