<footer>
    <span>Atletl Villanueva | Site created by <a target="_blank" href="https://github.com/jhreyess">@jhreyess</a></span>
</footer>

<style>
    footer {
        padding: 2em 0;
        text-align: center;
        color: var(--colorBg);
        background-color: var(--colorText);
    }
    a:visited {
        color: lightblue;
    }
</style>